# Set the parameters for the remote-monitor connection

# The IP address of the machine to connect to
server_address=192.168.0.37

# The port to connect to
server_port=5901

# The full path to the VNC viewer binary
vnc_viewer=/usr/bin/vncviewer

# Flags to send to the VNC viewer
vnc_flags='-viewonly -fullscreen -noraiseonbeep -nocursorshape'
